## Bibliotecas

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import pyspark.sql.types as t
from pyspark.sql.window import Window

In [2]:
import findspark

findspark.init()

In [3]:
spark = (
    SparkSession.builder
    .config('spark.serializer', "org.apache.spark.serializer.KryoSerializer")
    .getOrCreate()
)

In [4]:
imdb_path = '../data/imdb/'

In [13]:
df_titles = spark.read.format("parquet").load(imdb_path + 'title_basics')
df_ratings = spark.read.format("parquet").load(imdb_path + 'title_ratings')

## Questão 6

In [7]:
df_titles.limit(5).toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [8]:
df_titles.select('titleType').distinct().toPandas()

       titleType
0       tvSeries
1   tvMiniSeries
2        tvMovie
3        tvPilot
4      tvEpisode
5          movie
6      tvSpecial
7          video
8      videoGame
9        tvShort
10         short
11   radioSeries
12  radioEpisode

In [9]:
df_titles.filter('titleType = "short" and startYear = "2015"').count()

45948

In [14]:
df_titles.filter('titleType = "short" and startYear = "2015"').count()

45948

## Questão 11

### Forma Errada

In [44]:
df_titles.limit(5).toPandas()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [43]:
(
    df_titles
    .withColumn('genres', f.explode(f.split('genres', ',')))
    .filter("startYear = 2018")
    .groupby('startYear', 'genres')
    .count()
    .withColumn('total', f.sum('count').over(Window.partitionBy('startYear')))
    .withColumn('perc', f.col('count')/f.col('total'))
    .toPandas()
)

   startYear       genres  count   total      perc
0       2018       Action  15575  624861  0.024926
1       2018    Talk-Show  47492  624861  0.076004
2       2018        Adult  14749  624861  0.023604
3       2018       Horror   9619  624861  0.015394
4       2018        Sport  10332  624861  0.016535
5       2018       Comedy  78809  624861  0.126122
6       2018   Reality-TV  27601  624861  0.044171
7       2018        Drama  89367  624861  0.143019
8       2018     Thriller   8154  624861  0.013049
9       2018    Animation  17948  624861  0.028723
10      2018      Musical   2581  624861  0.004131
11      2018        Short  66482  624861  0.106395
12      2018      Mystery   7523  624861  0.012039
13      2018        Crime  15455  624861  0.024734
14      2018      Romance  25002  624861  0.040012
15      2018    Game-Show  10426  624861  0.016685
16      2018         News  25603  624861  0.040974
17      2018  Documentary  37840  624861  0.060557
18      2018       Family  16997  624861  0.027201
19      2018       Sci-Fi   5644  624861  0.009032
20      2018    Adventure  14268  624861  0.022834
21      2018           \N  41740  624861  0.066799
22      2018      History   6191  624861  0.009908
23      2018      Western    396  624861  0.000634
24      2018    Biography   4080  624861  0.006529
25      2018      Fantasy   8135  624861  0.013019
26      2018        Music  16092  624861  0.025753
27      2018          War    760  624861  0.001216

### Forma Correta

In [45]:
(
    df_titles
    .withColumn('n_titles', f.count(f.lit(1)).over(Window.partitionBy('startYear')))
    .withColumn('genres', f.explode(f.split('genres', ',')))
    .filter("startYear = 2018")
    .groupby('startYear', 'genres', 'n_titles')
    .count()
    .withColumn('perc', f.col('count')/f.col('n_titles'))
    .toPandas()
)

   startYear       genres  n_titles  count      perc
0       2018        Drama    402244  89367  0.222171
1       2018       Comedy    402244  78809  0.195923
2       2018           \N    402244  41740  0.103768
3       2018  Documentary    402244  37840  0.094072
4       2018        Short    402244  66482  0.165278
5       2018       Action    402244  15575  0.038720
6       2018       Family    402244  16997  0.042255
7       2018       Sci-Fi    402244   5644  0.014031
8       2018     Thriller    402244   8154  0.020271
9       2018      Romance    402244  25002  0.062156
10      2018    Adventure    402244  14268  0.035471
11      2018    Game-Show    402244  10426  0.025920
12      2018        Music    402244  16092  0.040006
13      2018    Biography    402244   4080  0.010143
14      2018        Crime    402244  15455  0.038422
15      2018      Mystery    402244   7523  0.018703
16      2018       Horror    402244   9619  0.023913
17      2018    Talk-Show    402244  47492  0.118068
18      2018        Adult    402244  14749  0.036667
19      2018    Animation    402244  17948  0.044620
20      2018   Reality-TV    402244  27601  0.068618
21      2018        Sport    402244  10332  0.025686
22      2018      History    402244   6191  0.015391
23      2018         News    402244  25603  0.063650
24      2018      Musical    402244   2581  0.006417
25      2018      Fantasy    402244   8135  0.020224
26      2018          War    402244    760  0.001889
27      2018      Western    402244    396  0.000984

## Questão 14

In [22]:
type(5**2)

int

In [25]:
@f.udf(returnType = t.IntegerType())
def square_udf(num):
    if num:
        return num**2
    else:
        return None

In [28]:
def square(num):
    if num:
        return num**2
    else:
        return None
square_udf = f.udf(square)

In [26]:
(
    df_titles
    .withColumn('runtimeMinutes', f.col('runtimeMinutes').cast('int'))
    .withColumn('runtime_sqr', square_udf(f.col('runtimeMinutes')))
    .limit(5)
    .toPandas()
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,runtime_sqr
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",1
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",25
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",16
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",144
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",1

In [32]:
df_int = (
    df_titles.withColumn('genres_array', f.split('genres', ','))
    .withColumn('genres_explode', f.explode(f.col('genres_array')))
)

In [33]:
possible_genres = [c['genres_explode'] for c in df_int.select('genres_explode').distinct().collect()]

In [34]:
possible_genres

['Crime',
 'Romance',
 'Thriller',
 'Adventure',
 '\\N',
 'Drama',
 'War',
 'Documentary',
 'Reality-TV',
 'Family',
 'Fantasy',
 'Game-Show',
 'Adult',
 'History',
 'Mystery',
 'Musical',
 'Animation',
 'Music',
 'Film-Noir',
 'Short',
 'Horror',
 'Western',
 'Biography',
 'Comedy',
 'Sport',
 'Action',
 'Talk-Show',
 'Sci-Fi',
 'News']

In [40]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [41]:
(
    df_titles
    .withColumn('genres_array', f.split('genres', ','))
    .withColumn('genres_explode', f.explode(f.col('genres_array')))
    .groupby('tconst', 'primaryTitle')
    .pivot('genres_explode', possible_genres)
    .count()
    .fillna(0, subset=possible_genres)
    .agg(*[f.sum(c).alias(c) for c in possible_genres])
    .limit(5)
    .toPandas()
)

,Crime,Romance,Thriller,Adventure,\N,Drama,War,Documentary,Reality-TV,Family,Fantasy,Game-Show,Adult,History,Mystery,Musical,Animation,Music,Film-Noir,Short,Horror,Western,Biography,Comedy,Sport,Action,Talk-Show,Sci-Fi,News
0,351447,724729,134054,324325,643012,2247995,29827,764885,423455,571470,174119,252533,242704,114975,162448,63122,406284,394008,763,1021850,146400,27912,87738,1653725,178594,334580,900198,96515,524662

In [41]:
(
    df_titles
    .withColumn('genres_array', f.split('genres', ','))
    .withColumn('genres_explode', f.explode(f.col('genres_array')))
    .groupby('tconst', 'primaryTitle')
    .pivot('genres_explode', possible_genres)
    .count()
    .fillna(0, subset=possible_genres)
    .agg(*[f.sum(c).alias(c) for c in possible_genres])
    .limit(5)
    .toPandas()
)

,Crime,Romance,Thriller,Adventure,\N,Drama,War,Documentary,Reality-TV,Family,Fantasy,Game-Show,Adult,History,Mystery,Musical,Animation,Music,Film-Noir,Short,Horror,Western,Biography,Comedy,Sport,Action,Talk-Show,Sci-Fi,News
0,351447,724729,134054,324325,643012,2247995,29827,764885,423455,571470,174119,252533,242704,114975,162448,63122,406284,394008,763,1021850,146400,27912,87738,1653725,178594,334580,900198,96515,524662